.App {
    margin: 15% auto;
}

.red-border{
	border: 1px solid #C8300E;
}

.tabs {
	display: flex;
	text-align: center;
	font-size: 16px;
	max-width: 460px;
	background-color: #3A1342;
	margin: 0% auto;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 19px;


	color: #FFFFFF;

  }

  .activeButton{
	background-color: #3A1342;
	color: white;
  }

  .inactiveButton{
	background-color: #000000;
	color: white;
  }

  button {
	height: 30px;  
 	border: 0px;
	width: 100%;
    display: inline-block;
  }

  button:hover{
	  background-color: #200B24;
  }

  .signIn {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 22px;
	max-width: 460px;
	max-height: 289;
	margin: 0% auto;
	color: white;
	background-color: #3A1342;
  }

  .signUp {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 22px;
	max-width: 460px;
	max-height: 289;
	margin: 0% auto;
	color: white;
	background-color: #3A1342;
  }
  
  .submit {
	right: -400px;
	float:right;
	margin-top: 10px;
	width: 80px;
	height: 40px;
	background-color:black;
	color: white;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
  }

  .submit:hover {
	background-color: #200B24;
  }

  fieldset {
	  border: 0px;
  }